@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap");

:root {
    --primary-color: #0038FF;
    --secondary-color: #85C4FF;
    --third-color: #ffffff;
    --fourth-color: #000000;
    --fifth-color: #e0e0e0;
    --sixth-color: #db0f0f;
    --seventh-color: #8a2020;
    --eighth-color: #ffc107;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--fourth-color);
    color: black;
    margin: 0;
    font-family: 'Montserrat';
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}


header {
    position: absolute;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: var(--primary-color);
    width: 100%;
    flex-direction: row;
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    z-index: 9;

}

.logo {
    text-decoration: none;
    font-weight: 600;
    color: var(--third-color);
    font-size: 2rem;
    flex-grow: 1;
}

span {
    color: var(--secondary-color);
}

nav {
    display: flex;
    text-align: center;
    height: 3em;
    float: right;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    padding-right: 2em;
}

nav li {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: .65rem;
}

a {
    color: var(--third-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

.main-container {
    background-color: var(--eighth-color);
    padding: 1em;
    width: 100%;
    z-index: 999;
}

.image-container {
    display: flex;
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    background-image: url("/Images/hotel6_edvin-johansson-rlwE8f8anOc-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 1em;
    padding-top: 5em;
}

.image-container-hotel-select {
    width: 100%;
}

#images-carousel {
    padding: 40px 0;
}

.img-carousel-container {
    width: 100%;
    position: relative;
}

.img-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 5px;
}


.img-carousel div {
    flex: none;
    scroll-snap-align: start;
    width: 100%;
    position: relative;
}

.img-carousel div img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 500px;
}

.img-carousel .overlay-text {
    color: var(--third-color);
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 250px;
    top: 1em;
}

.img-carousel div p {
    position: absolute;
    top: 0;
    right: 10px;
    background: rgba(0,0,0,0.5);
    color: var(--third-color);
    padding: 5px;
    border-radius: 10px;
}

.img-carousel-container button {
    position: absolute;
    top: calc(50% - 15px);
    transform: translateY(-50%);
    border: none;
    background-color: var(--primary-color);
    color: var(--third-color);
    cursor: pointer;
    padding: 10px 15px;
    outline: none;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.img-carousel-container:hover button {
    opacity: 1;
}

.img-carousel-container button:hover {
    background-color: var(--primary-color);
}

.img-carousel::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.img-carousel::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    visibility: hidden;
}

.img-carousel::-webkit-scrollbar-track {
    background-color: transparent;
}

.img-carousel-container:hover .img-carousel::-webkit-scrollbar-thumb {
    visibility: visible;
}

@media screen and (max-width:800px) {
    .img-carousel-container {
        width: 100%;
    }

    .img-carousel div {
        width: 100%;
    }
}


.option-selected-container {
    background-color: var(--eighth-color);
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 2.85em;
}

.response-box {
    background-color: var(--third-color);
    border-radius: 50px;
    padding: 3em 3em;
    margin-top: 1em;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.response-right {
    flex: 1;
}

.location-row {
    grid-area: location;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;

}

.price-row {
    grid-area: price;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

.hotel-image-box {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.response-heading {
    flex-grow: 1;
    margin: 0;
    padding: 3px;

}

.response-sub-heading {
    margin: 0;
    padding: 3px;
    flex-grow: 1;

}

.response-time-sub-heading {
    margin: 0;
    padding: 3px;

}

.price-box {
    flex-grow: 1;
    margin: 0;
    padding: 3px;



}

.price-box-per-traveler {
    flex-grow: 1;
    margin: 0;
    padding-top: 1em;
    margin-left: -13em;
}

.response-form {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.select-flights {
    background-color: white;
    border-radius: 12px;
    border-color: var(--primary-color);
    display: flex;
    padding-left: 10px;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    padding: 1em 1em;
    padding-left: 100px;
    padding-right: 100px;
    
}

.select-flights:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

@media (min-width: 380px) {
    .select-flights {
        margin-left: 48px;

    }

    .price-box-per-traveler {
        margin-left: 8em;
        position: absolute;

    }

    .select-flights {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
}

@media (min-width: 1000px) {
    .select-flights {
        margin-left: 0px;
    }    

    .response-sub-heading {
        margin-left: -10em;
    }

    .price-box-per-traveler {
        margin-left: 8em;
        position: absolute;
    }
}


.hotel-image-container {
    display: flex;
    width: 100%;
    background-color: var(--fourth-color);
    align-items: center;
    justify-content: center;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 1em;
}

.column {
    padding-left: 3em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.image-block {
    width: 325px;
    height: 225px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.image-block:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--sixth-color);
}


.hotel-info-block-container {
    color: var(--third-color);
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}

.heading-h2 {
    padding-left: 30px;
}